<div class="modal fade text-black" id="groupCreator" tabindex="-1" aria-labelledby="groupCreatorLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" data-controller="avatar-selector">

        <div class="overflow-x-auto d-flex flex-wrap justify-content-evenly">
          <% @avatars.each do |a| %>
            <%= image_tag asset_path("avatars/#{a.filename}"), class: "avatar-selector", data: { avatar_selector_target: "avatar", id: a.id } %>
          <% end %>
        </div>

        <%= simple_form_for [@party, @group] do |f| %>

          <%= f.input :name, label: "Nom du groupe" %>
          <%= f.input :party_id, as: :hidden, input_html: { value: @party.id } %>
          <%= f.input :avatar_id, as: :hidden, input_html: { data: { avatar_selector_target: "input" } } %>
          <%= f.button :submit, "Créer le groupe", class:"btn btn-danger rounded-pill text-white mb-3" %>
        <% end %>
        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal" aria-label="Close">Cancel</button>

      </div>
    </div>
  </div>
</div>
