<div class="container mt-5 text-center text-white">
  <h1><%= @party.name %></h1>

  <hr>
  <div class="d-grid gap-2 col-10 col-md-6 mx-auto">
    <% @groups.each do |group| %>
      <%= link_to group.name, party_group_path(@party.name, group.name), class:"btn btn-danger rounded-pill text-white mb-3"%>
    <% end %>
  </div>
  <hr>
  <div>
    <button type="button" class="btn btn-danger rounded-pill text-white" data-bs-toggle="modal" data-bs-target="#groupCreator">
      Create a group
    </button>
    <%= render 'group-creator' %>
    </div>
  <hr>

  <div class="d-grid text-center mt-4" >
    <%= link_to "Scoreboard", party_path(@party.name), class: "mx-auto col-6 col-md-2 btn btn-danger rounded-pill text-white mb-3" %>
    <button class="mx-auto col-6 col-md-2 btn btn-danger rounded-pill text-white mb-3" data-controller="manager", data-action="click->manager#checkPassword", data-party-name='<%= @party.name %>'>Manage</button>
  </div>

</div>
