<div class="container mt-5 text-center text-white">

  <h1><%= @group.name %></h1>


  <h2 id="buzz_status"><%= @buzz.clicked %></h2>
  <h2 id="clickable"><%= @buzz.clickable %></h2>

  <%= link_to buzz_path(@buzz.id), data: { id: @buzz.id, clicked: @buzz.clicked, clickable: @buzz.clickable, turbo_method: :patch }, id:"buzz_button", role:"button" do %>
    <%= inline_svg_tag "buzzer.svg", alt: "Buzzer", class:"buzz" %>
  <% end %>

</div>
